{% include 'headfoot/header_admin.html' %}

<section id="main" class="container-fluid p-2">

    {% if msg %}
    {% if msg == 'hapus_transaksi' %}
    <script>
        $(document).ready(function () {
            Swal.fire({
                toast: true,
                position: 'top-end',
                icon: 'success',
                title: 'riwayat transaksi berhasil dihapus!',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: toast => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            });
        });
    </script>
    {% endif %}

    {% endif %}

    <h3>Daftar Transaksi</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item text-dark garis-none"><a href="/dashboard">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Daftar Transaksi</li>
        </ol>
    </nav>
    <hr>

    <div class="card card-clear no-gutters">
        <div class="card-body bg-white shadow-sm table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th class="fit">No.</th>
                        <th class="text-left">Tagihan</th>
                        <th class="text-center">Jumlah</th>
                        <th class="cell-state text-center">Status</th>
                        <th class="cell-state text-center">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% set index = namespace(value=1) %}
                    {% for item in transaksi %}
                    <tr>
                        <td class="text-right">{{ index.value }}.</td>
                        <td>
                            {% if item.status == 'sudah bayar' %}
                            <strong class="text-success">
                                [{{item.order_id}}]
                            </strong>
                            {% else %}
                            <strong>
                                [{{item.order_id}}]
                            </strong>
                            {% endif %}


                            Pendaftaran Kelas : {{item.kelas_nama}}
                        </td>
                        <td class="fit text-right text-nowrap">
                            Rp. {{item.kelas_harga}}
                        </td>
                        <td class="fit">
                            {% if item.status == 'pending' %}
                            <div class="alert alert-danger mb-0 px-2 py-1 font-weight-bold text-center text-nowrap">
                                Belum Bayar</div>

                            {% elif item.status == 'sudah bayar' %}
                            <div class="alert alert-success mb-0 px-2 py-1 font-weight-bold text-center text-nowrap">
                                Sudah Bayar</div>
                            {% endif %}

                        </td>
                        <td class="fit text-center">
                            {% if item.status == 'sudah bayar' %}
                            <a class="btn btn-danger btn-block text-nowrap" data-bs-toggle="modal"
                                data-bs-target="#modalhapustransaksi-{{item._id}}">Hapus</a>
                            {% else %}
                            <a class="btn btn-primary btn-block text-nowrap" href="/transaksi/{{item.order_id}}">Bayar
                                Sekarang</a>
                            {% endif %}

                        </td>
                    </tr>
                    {% set index.value = index.value + 1 %}
                    <!-- Modal -->
                    <div class="modal fade" id="modalhapustransaksi-{{item._id}}" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <h4 class="text-center">Anda yakin ingin menghapus riwayat transaksi Ini?</h4>
                                    <h6 class="text-center fs-kecil text-warning">{{item.order_id}}</h6>
                                </div>
                                <div class="modal-footer">
                                    <div class="container d-flex justify-content-between">
                                        <div class="row col-6">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Batal</button>
                                        </div>
                                        <div class="row col-6">
                                            <a href="/hapus_transaksi/{{item._id}}" class="btn btn-danger">Hapus</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    {% endfor %}


                </tbody>
            </table>
        </div>
    </div>


</section>



{% include 'headfoot/footer_admin.html' %}