{% include 'headfoot/header_admin.html' %}

{% if msg %}
{% if msg == 'success' %}
<script>
    $(document).ready(function () {
        Swal.fire({
            toast: true,
            position: 'top-end',
            icon: 'success',
            title: 'Berhasil Login!',
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        });
    });
</script>
{% endif %}
{% endif %}

<section id="main" class="container-fluid p-2">
    <!-- Judul -->
    {% if status_admin %}
    <h3>Dashboard Admin</h3>
    {% else %}
    <h3>Dashboard Siswa</h3>
    {% endif %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>
    <hr>
    <!-- ----- -->
        <div class="row justify-content-evenly mb-3">
            <div
                class="col-12 col-md-7 col-lg-7 col-xl-8 d-flex justify-content-evenly align-items-center mt-2 rounded  bg-light">
                {% if user_info.foto_profile %}
                        <img class="p-2 m-2" src="../../static/image/Imgprofile/{{user_info.foto_profile}}" width="120"
                            alt="">
                        {% else %}
                        <img class="p-2 m-2" src="../../static/image/profile.jpg" width="120" alt="">
                        {% endif %}
                <div class="box d-flex flex-column">
                    <h4 class="text-primary">Selamat Datang, {{user_info.nama_lengkap}}</h4>
                    <p>Kamu berhasil terdaftar di akun Bina Asia Digitalindo. Optimalkan skillmu dengan program intensif
                        sesuai kebutuhanmu disini, yuk!</p>
                </div>
            </div>
            <div class="row col-5 col-md-3 col-lg-3 col-xl-3 rounded  p-2 bg-light mt-2">
                {% if status_admin %}
                <h4>Jumlah Siswa</h4>
                <div class="box d-flex flex-column text-center">
                    <h3>99</h3>
                </div>
                {% else %}
                <h4>Pencapaianku! <span class="text-warning"><i class="ri-notification-3-fill"></i></span></h4>
                <div class="box d-flex flex-column text-center">
                    <h3 class="text-primary"><i class="ri-book-read-fill"></i> {{jumlah_kelas_diambil}}</h3>
                    <h6 class="text-primary">Kelas Diambil</h6>
                </div>
                {% endif %}

            </div>
        </div>

        {% if status_admin %}
        <div class="row justify-content-evenly mt-2">
            <div
                class="col-12 col-md-7 col-lg-7 col-xl-8 d-flex justify-content-evenly align-items-center rounded  bg-light">
                <div class="box d-flex flex-column">
                    <h4>Data Siswa</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur eos debitis ducimus
                        explicabo
                        laboriosam autem magnam repellat nemo qui odit!</p>
                    <div class="row justify-content-center p-2">
                        <div class="col-4">
                            <a href="" class="btn btn-primary rounded p-2 m-2 ">Semua Siswa</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        {% else %}
        <div class="row justify-content-evenly p-2">
            <div class="col-6 bg-light p-2">
                <h5>Program yang ditawarkan</h5>
                <p>Bina Asia Digitalindo menyediakan banyak Kelas yang dapat diikuti, terdiri dari Kelas Pemrograman, Marketing, Business, dan kelas lainnya.</p>
                <div class="row text-center">
                    <div class="col-12 mb-3">
                        <h6 class="text-primary fw-bold">Lihat Semua Kelas</h6>
                        <a href="/semuakelas" class="btn btn-warning text-dark fw-bold">Semua Kelas</a>
                    </div>
                </div>
            </div>
            <div class="col-5 bg-light p-2">
                <h5>Kelas yang diikuti</h5>
            </div>
        </div>
        {% endif %}



</section>

{% include 'headfoot/footer_admin.html' %}