{% include 'headfoot/header_admin.html' %}

{% if msg %}
{% if msg == 'success' %}
<script>
    $(document).ready(function () {
        Swal.fire({
            toast: true,
            position: 'top-end',
            icon: 'success',
            title: 'Berhasil Login!',
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        });
    });
</script>
{% endif %}
{% endif %}

<section id="main" class="container-fluid p-2">

    {% if status_superadmin %}
    <h3>Dashboard Super Admin</h3>
    {% else %}
    <!-- Judul -->
    {% if status_admin %}
    <h3>Dashboard Admin</h3>
    {% else %}
    <h3>Dashboard Siswa</h3>
    {% endif %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>
    <hr>
    <!-- ----- -->
    <div class="row justify-content-evenly mb-3">
        <div
            class="col-12 col-md-7 col-lg-7 col-xl-8 d-flex justify-content-evenly align-items-center mt-2 rounded  bg-light">
            <div class="box" style="width: 30%; height:100%">
                {% if user_info.foto_profile %}
                <img class="p-2 m-2"
                    src="{{ url_for('static', filename='image/Imgprofile/' ~ user_info.foto_profile) }}" width="150"
                    alt="">
                {% else %}
                <img class="p-2 m-2" src="{{ url_for('static', filename='image/profile.jpg') }}" width="150" alt="">
                {% endif %}
            </div>

            <div class="box p-2 d-flex flex-column" style="width: 70%; height:100%;">
                <h4 class="text-primary">Selamat Datang, {{user_info.nama_lengkap}}</h4>
                {% if status_admin %}
                <p>Berikut adalah Laporan baru di Website Bina Asia Digitalindo.</p>
                {% else %}
                <p>Kamu berhasil terdaftar di akun Bina Asia Digitalindo. Optimalkan skillmu dengan program intensif
                    sesuai kebutuhanmu disini, yuk!</p>
                {% endif %}
            </div>
        </div>
        <div class="col-5 col-md-3 col-lg-3 col-xl-3 rounded  p-2 bg-light mt-2">
            {% if status_admin %}
            <h4>Keterangan <span class="text-warning"><i class="ri-error-warning-line"></i></span></h4>
            <div class="box d-flex flex-column text-center">
                <h3 class="text-primary"><i class="ri-group-line"></i> {{jumlah_siswa}}</h3>
                <h6 class="text-primary">Jumlah Siswa</h6>
            </div>
            {% else %}
            <h4>Pencapaianku! <span class="text-warning"><i class="ri-notification-3-fill"></i></span></h4>
            <div class="box d-flex flex-column text-center">
                <h3 class="text-primary"><i class="ri-book-read-fill"></i> {{jumlah_kelas_diambil}}</h3>
                <h6 class="text-primary">Kelas Diambil</h6>
            </div>
            {% endif %}

        </div>
    </div>

    {% if status_admin %}
    <div class="container p-4 mb-3">
        <div class="row bg-light p-2">
            <div class="row text-center">
                <h5 class="fw-bold">Kelas yang diambil oleh Siswa</h5>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-xl-12 col-lg-6 col-md-6 rounded p-2 bg-light mt-2">
                    <div class="box d-flex flex-column" style="width: 100%;">
                        <hr>
                        <div class="box" style="width: 100%;">
                            {% set index = namespace(value=1) %}
                            <table class="table" style="overflow-y: auto;">
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="col">No.</th>
                                        <th class="text-center text-primary" scope="col">Kelas</th>
                                        <th class="text-center text-primary" scope="col">Kategori</th>
                                        <th class="text-center text-primary" scope="col">Tingkat</th>
                                        <th class="text-center text-primary" scope="col">diikuti</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for kelas in data_kelas %}
                                    <tr>
                                        <th scope="col" class="text-center">{{ index.value }}.</th>
                                        <td class="text-center">{{kelas.nama_kelas}}</td>
                                        <td class="text-center">{{kelas.kategori_kelas}}</td>
                                        {% if kelas.tingkatan_kelas %}
                                        {% if kelas.tingkatan_kelas == 'Beginner' %}
                                        <td class="text-success text-center">- {{kelas.tingkatan_kelas}} <i
                                                class="ri-signal-wifi-1-fill"></i></td>
                                        {% elif kelas.tingkatan_kelas == 'Intermediate' %}
                                        <td class="text-warning text-center">- {{kelas.tingkatan_kelas}} <i
                                                class="ri-signal-wifi-2-fill"></i></td>
                                        {% elif kelas.tingkatan_kelas == 'Advanced' %}
                                        <td class="text-danger text-center">- {{kelas.tingkatan_kelas}} <i
                                                class="ri-signal-wifi-3-fill"></i>
                                        </td>
                                        {% else %}
                                        <td class="text-center">
                                            None <i class="ri-signal-wifi-off-fill"></i>
                                        </td>
                                        {% endif %}
                                        {% else %}
                                        <td class="text-center">
                                            None <i class="ri-signal-wifi-off-fill"></i>
                                        </td>
                                        {% endif %}
                                        <td class="text-center">{{kelas.jumlah_siswa}}</td>
                                    </tr>
                                    {% set index.value = index.value + 1 %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container p-4 mb-3">
        <div class="row bg-light p-2">
            <div class="row text-center mb-3">
                <h6 class="text-primary">DIAGRAM KELAS DIAMBIL</h6>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-xl-7 col-lg-7 col-md-7">
                    <canvas id="myChart" width="400" height="400"></canvas>
                    <script>
                        var dataKelas = {{ data_kelas | tojson }};
                        var labels = dataKelas.map(kelas => kelas.nama_kelas);
                        var data = dataKelas.map(kelas => kelas.jumlah_siswa);
                        function getRandomColor() {
                            var letters = '0123456789ABCDEF';
                            var color = '#';
                            for (var i = 0; i < 6; i++) {
                                color += letters[Math.floor(Math.random() * 16)];
                            }
                            return color;
                        }
                        var backgroundColors = dataKelas.map(() => getRandomColor());
                        var ctx = document.getElementById('myChart').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'pie',
                            data: {
                                labels: labels,
                                datasets: [{
                                    label: 'Jumlah Siswa',
                                    data: data,
                                    backgroundColor: backgroundColors,
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>


    {% else %}
    <div class="row justify-content-evenly">
        <div class="col-12 col-xl-6 col-lg-6 col-md-6 rounded p-2 bg-light mt-2">
            <h5>Program yang ditawarkan</h5>
            <p>Bina Asia Digitalindo menyediakan banyak Kelas yang dapat diikuti, terdiri dari Kelas Pemrograman,
                Marketing, Business, dan kelas lainnya.</p>
            <div class="row text-center">
                <div class="col-12 mb-3">
                    <h6 class="text-primary fw-bold">Lihat Semua Kelas</h6>
                    <a href="/semuakelas" class="btn btn-warning text-dark fw-bold">Semua Kelas</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-5 col-lg-6 col-md-6 rounded  p-2 bg-light mt-2">
            <h5>Kelas yang diikuti</h5>
            <p>Ayo Lanjutkan Pembelajaranmu pada kelas yang telah diikuti sebelumnya</p>
            <div class="row text-center">
                <div class="col-12 mb-3">
                    <h6 class="text-primary fw-bold">Lihat Kelas</h6>
                    <a href="/kelassaya" class="btn btn-warning text-dark fw-bold">Kelas Saya</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% endif %}



</section>

{% include 'headfoot/footer_admin.html' %}