{% include 'headfoot/header_admin.html' %}

<section id="main" class="container-fluid p-2">
    <!-- Judul -->
    {% if status_admin %}
    <h3>Dashboard Admin</h3>
    {% else %}
    <h3>Dashboard Siswa</h3>
    {% endif %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>
    <hr>
    <!-- ----- -->

    <div class="row">
        <div class="row justify-content-evenly mb-3">
            <div
                class="col-12 col-md-7 col-lg-7 col-xl-8 d-flex justify-content-evenly align-items-center mt-2 rounded  bg-light">
                <img class="p-2 m-2" src="../../static/image/Imgprofile/{{user_info.foto_profile}}" width="120" alt="">
                <div class="box d-flex flex-column">
                    <h4>Selamat Datang, {{user_info.nama_lengkap}}</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita quae cupiditate ipsam?</p>
                </div>
            </div>
            <div class="row col-5 col-md-3 col-lg-3 col-xl-3 rounded  p-2 bg-light mt-2">
                {% if status_admin %}
                <h4>Jumlah Siswa</h4>
                <div class="box d-flex flex-column text-center">
                    <h3>99</h3>
                </div>
                {% else %}
                <h6>Jumlah Kelas yang diambil</h6>
                <div class="box d-flex flex-column text-center">
                    <h3><i class="ri-book-read-fill"></i> 99</h3>
                </div>
                {% endif %}

            </div>
        </div>
        {% if status_admin %}
        <div class="row justify-content-evenly mt-2">
            <div
                class="col-12 col-md-7 col-lg-7 col-xl-8 d-flex justify-content-evenly align-items-center rounded  bg-light">
                <div class="box d-flex flex-column">
                    <h4>Data Siswa</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur eos debitis ducimus
                        explicabo
                        laboriosam autem magnam repellat nemo qui odit!</p>
                    <div class="row justify-content-center p-2">
                        <div class="col-4">
                            <a href="" class="btn btn-primary rounded p-2 m-2 ">Semua Siswa</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        {% else %}
        <div class="row justify-content-evenly">
            <div
                class="col-12 col-md-7 col-lg-7 col-xl-6 d-flex justify-content-evenly mt-2 align-items-center rounded  bg-light">
                <div class="box d-flex flex-column">
                    <h4>Data Siswa</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur eos debitis ducimus
                        explicabo
                        laboriosam autem magnam repellat nemo qui odit!</p>
                    <div class="row justify-content-center p-2">
                        <div class="col-4">
                            <a href="" class="btn btn-primary rounded p-2 m-2 ">Semua Siswa</a>
                        </div>
                    </div>

                </div>
            </div>
            <div
                class="col-12 col-md-7 col-lg-7 col-xl-5 d-flex justify-content-evenly mt-2 align-items-center rounded  bg-light">
                <div class="box d-flex flex-column">
                    <h4>Data Siswa</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur eos debitis ducimus
                        explicabo
                        laboriosam autem magnam repellat nemo qui odit!</p>
                    <div class="row justify-content-center p-2">
                        <div class="col-4">
                            <a href="" class="btn btn-primary rounded p-2 m-2 ">Semua Siswa</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% endif %}
    </div>




</section>

{% include 'headfoot/footer_admin.html' %}