{% include 'headfoot/header_admin.html' %}

<section id="main" class="container-fluid p-2">


    <h3>Detail Siswa - {{ detail_Siswa.nama_depan }}</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item text-dark garis-none"><a href="/dashboard">Home</a></li>
            <li class="breadcrumb-item text-dark garis-none"><a href="/siswa">Siswa</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detail Siswa - {{ detail_Siswa.nama_depan }}</li>
        </ol>
    </nav>
    <hr>

    <div class="container-fluid bg-warning mb-5 rounded shadow">
        <div class="container d-flex p-2 rounded">
            <div class="box p-2 d-flex flex-column me-2">
                {% if detail_Siswa.foto_profile %}
                <img class="m-2 rounded" src="../../static/image/Imgprofile/{{detail_Siswa.foto_profile}}" width="200"
                    alt="">
                {% else %}
                <img class="m-2 rounded" src="../../static/image/profile.jpg" width="200" alt="">
                {% endif %}
                <a href="" class="btn btn-danger">Hapus</a>
            </div>
            <div style="width: 100%;" class="info_siswa">
                <div class="nama ms-4">
                    <h4 class="fw-bold">{{ detail_Siswa.nama_lengkap }}</h4>
                    {% if detail_Siswa.deskripsi == '' %}
                    <p>
                        <== User tidak memiliki Deskripsi==>
                    </p>
                    {% else %}
                    <p>{{ detail_Siswa.deskripsi }}</p>
                    {% endif %}

                </div>
                <div class="informasi p-3 m-2 rounded">
                    <h4 class="fw-bold">Informasi Dasar</h4>
                    <div class="baris d-flex justify-content-start align-items-center">
                        <h6 class="fw-bold">Nama Lengkap : </h6>
                        <h6 class="fw-normal ms-2">{{ detail_Siswa.nama_lengkap }}</h6>
                    </div>
                    <div class="baris d-flex justify-content-start align-items-center">
                        <h6 class="fw-bold">Email : </h6>
                        <h6 class="fw-normal ms-2">{{ detail_Siswa.email }}@gmail.com</h6>
                    </div>
                    <div class="baris d-flex justify-content-start align-items-center">
                        <h6 class="fw-bold">No. Telp : </h6>
                        <h6 class="fw-normal ms-2">{{ detail_Siswa.no_telepon }}</h6>
                    </div>
                    <div class="baris d-flex justify-content-start align-items-center">
                        <h6 class="fw-bold">No. KTP : </h6>
                        <h6 class="fw-normal ms-2">{{ detail_Siswa.no_ktp }}</h6>
                    </div>
                    <div class="baris d-flex justify-content-start align-items-center">
                        <h6 class="fw-bold">Jenis Kelamin : </h6>
                        <h6 class="fw-normal ms-2">{{ detail_Siswa.jenis_kelamin }}</h6>
                    </div>
                    <div class="baris d-flex justify-content-start align-items-center">
                        <h6 class="fw-bold">Tempat, Tanggal lahir : </h6>
                        <h6 class="fw-normal ms-2">{{ detail_Siswa.tempat_tanggal_lahir }}</h6>
                    </div>
                    <div class="baris d-flex justify-content-start align-items-center">
                        <h6 class="fw-bold">Alamat : </h6>
                        <h6 class="fw-normal ms-2">{{ detail_Siswa.alamat }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-light mb-3 rounded shadow">
        <div class="row">
            <h6 class="p-2">Kelas yang diambil oleh {{detail_Siswa.nama_depan}}</h6>
        </div>
        <div class="container d-flex p-2 rounded">
            <div class="row p-2 justify-content-start">
                {% for item in data_kelas %}
                <div onclick="window.location.href='/detailkelas/{{item._id}}'"
                    class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-3 pointer gelembung mt-3">
                    <div class="card semuakelas-card">
                        <div class="img-kontainer">
                            <img style="object-fit: cover;" src="../../static/image/Imgkelas/{{item.gambar_kelas}}" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <div class="row justify-content-between">
                                <div class="col-12 mb-4">
                                    <h6 style="font-size: 16px;" class="card-title">{{item.nama_kelas}}</h6>
                                </div>
                                <div class="col-12">
                                    <div class="katandting d-flex justify-content-between">
                                        <h6 style="font-size: 12px;" class="text-secondary">- {{item.kategori_kelas}}
                                        </h6>
                                        {% if item.tingkatan_kelas %}
                                        {% if item.tingkatan_kelas == 'Beginner' %}
                                        <p class="text-success" style="font-size: 12px;">- {{item.tingkatan_kelas}} <i
                                                class="ri-signal-wifi-1-fill"></i></p>
                                        {% elif item.tingkatan_kelas == 'Intermediate' %}
                                        <p class="text-warning" style="font-size: 12px;">- {{item.tingkatan_kelas}} <i
                                                class="ri-signal-wifi-2-fill"></i></p>
                                        {% elif item.tingkatan_kelas == 'Advanced' %}
                                        <p class="text-danger" style="font-size: 12px;">- {{item.tingkatan_kelas}} <i
                                                class="ri-signal-wifi-3-fill"></i></p>
                                        {% else %}
                                        <p style="font-size: 12px;">
                                            None <i class="ri-signal-wifi-off-fill"></i>
                                        </p>
                                        {% endif %}
                                        {% else %}
                                        <p style="font-size: 12px;">
                                            None <i class="ri-signal-wifi-off-fill"></i>
                                        </p>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                        </div>
                        <ul class="list-group list-group-flush">  
                            <div class="card-body d-flex justify-content-end align-items-center">
                                <h6 class="fw-normal text-primary m-1">Rp.{{item.harga_kelas}}</h6>
                            </div>
                        </ul>
                        <span class="badge badge-primary lihat-kelas">Lihat Kelas</span>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>

</section>

{% include 'headfoot/footer_admin.html' %}