{% include 'headfoot/header_admin.html' %}

<section id="main" class="container-fluid p-2">

    <div class="container-fluid d-flex justify-content-start align-items-center">
        <div class="box">
            <h3>Detail Kelas</h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item text-dark garis-none"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item text-dark garis-none"><a href="/semuakelas">Semua Kelas</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Detail Kelas - {{ kelas.nama_kelas }}</li>
                </ol>
            </nav>
        </div>
    </div>

    <hr>

    <div class="row p-3 rounded-top bg-light ">
        <div class="col-5">
            <img src="../../static/image/Imgkelas/{{kelas.gambar_kelas}}" alt="kelas" width="100%" height="100%">
        </div>
        <div class="col-5 d-flex flex-column justify-content-between">
            <div class="juduldesk">
                <h3>{{kelas.nama_kelas}}</h3>
                <p>{{kelas.deskripsi_kelas}}</p>
            </div>


            <div class="row justify-content-start">
                <div class="col-6 col-md-6 col-lg-6 col-xl-4 col-xxl-6 border-end border-2 border-dark-subtle">
                    <p class="text-secondary">Ketegori Kelas</p>
                    <h6>{{kelas.kategori_kelas}}</h6>
                </div>
                <div class="col-6 col-md-6 col-lg-6 col-xl-5 col-xxl-6">
                    <p class="text-secondary">Tingkat</p>
                    {% if kelas.tingkatan_kelas %}
                    {% if kelas.tingkatan_kelas == 'Beginner' %}
                    <p class="text-success">- {{kelas.tingkatan_kelas}} <i class="ri-signal-wifi-1-fill"></i></p>
                    {% elif kelas.tingkatan_kelas == 'Intermediate' %}
                    <p class="text-warning">- {{kelas.tingkatan_kelas}} <i class="ri-signal-wifi-2-fill"></i></p>
                    {% elif kelas.tingkatan_kelas == 'Advanced' %}
                    <p class="text-danger">- {{kelas.tingkatan_kelas}} <i class="ri-signal-wifi-3-fill"></i></p>
                    {% else %}
                    <p>
                        None <i class="ri-signal-wifi-off-fill"></i>
                    </p>
                    {% endif %}
                    {% else %}
                    <p>
                        None <i class="ri-signal-wifi-off-fill"></i>
                    </p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <div class="row shadow rounded-bottom p-2">
        <div class="container d-flex justify-content-between">
            <div class="harga">
                <h5 class="text-info">Rp. {{kelas.harga_kelas}}</h5>
            </div>
            <div class="ikutkelas">
                <button data-bs-toggle="modal" data-bs-target="#ringkasan_pembelian" class="btn btn-info rounded p-2">+
                    Ikuti Kelas</button>
            </div>
        </div>
    </div>

    <br>

    <div class="container row p-3 border-1" style="background-color: whitesmoke; border-radius: 10px;">
        <h5>Modul</h5>
        <div class="row materi">
            <div class="row">
                <div class="col d-flex justify-content-between">
                    <p>PENGENALAN PEMBELAJARAN</p>
                    <button class="btn">Mulai</button>
                </div>
                <hr style="color: black;">
            </div>
            <div class="row">
                <div class="col d-flex justify-content-between">
                    <p>PENGENALAN PEMBELAJARAN</p>
                    <button class="btn">Mulai</button>
                </div>
                <hr style="color: black;">
            </div>
            <div class="row">
                <div class="col d-flex justify-content-between">
                    <p>PENGENALAN PEMBELAJARAN</p>
                    <button class="btn">Mulai</button>
                </div>
                <hr style="color: black;">
            </div>
        </div>
    </div>

    <!-- Modal Ringkasan Pembelian -->
    <div class="modal fade" id="ringkasan_pembelian" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Ringkasan Pembelian</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid d-flex justify-content-between">
                        <div class="box d-flex">
                            <img class="pe-2" src="../../static/image/Imgkelas/{{kelas.gambar_kelas}}" width="100"
                                alt="">
                            <h6>{{kelas.nama_kelas}}</h6>
                        </div>
                        <h6 class="text-secondary">Rp. {{kelas.harga_kelas}}</h6>
                    </div>
                    <hr class="hr-dashed">
                    <div class="row">
                        <button class="btn btn-primary">Ikuti Kelas</button>
                        <p class="text-center text-muted mb-0 xsmall fs-kecil"> Dengan menekan "Ikuti Kelas" kamu telah menyetujui <a target="_blank" href="/term_condition">syarat &amp; ketentuan</a>
                            dan <a target="_blank" href="/privacy_policy">kebijakan privasi</a> Bina Asia Digitalindo</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'headfoot/footer_admin.html' %}