{% include 'headfoot/header_admin.html' %}

<section id="main" class="container-fluid p-2">


    <h3>Pembayaran</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item text-dark garis-none"><a href="/dashboard">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Pembayaran</li>
        </ol>
    </nav>
    <hr>

    <div class="w-100 p-4">
        <div id="snap-container" class="d-flex justify-content-center"></div>
    </div>
</section>

<script>
    $(document).ready(function () {
        window.snap.embed('{{data.transaction_token}}', {
            embedId: 'snap-container',
            onSuccess: function (result) {
                let _id_transaksi = '{{data._id}}'
                let _id_kelas = '{{data._id_kelas}}'
                let _id_siswa = '{{data._id_siswa}}'
                $.ajax({
                    url: '/transaksi_sukses',
                    type: 'POST',
                    data: {
                        _id_transaksi: _id_transaksi,
                        _id_kelas: _id_kelas,
                        _id_siswa: _id_siswa
                    },
                    success: function (response) {
                        window.location.replace('/kelassaya?msg=ikut_kelas')
                    }
                })
            },

            onPending: function (result) {
                // Handler jika pembayaran masih dalam proses
                console.log("Pembayaran sedang diproses...")
            },
            onClose: function () {
                // Handler jika pengguna menutup atau membatalkan pembayaran
                window.location.replace('/daftar_transaksi')
                // Tambahkan logika atau tindakan sesuai kebutuhan, misalnya:
                // window.location.replace('/pembayaran-dibatalkan')
            },

        })
    })
</script>

{% include 'headfoot/footer_admin.html' %}