{% include 'headfoot/header_admin.html' %}

<section id="main" class="container-fluid p-2">


    <h3>Profile</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item text-dark garis-none"><a href="/dashboard">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Profile</li>
        </ol>
    </nav>
    <hr>

    <div class="row justify-content-start mb-5">
        <div class="col-12 rounded bg-light">
            <div class="row">
                <div class="col-12 col-md-8 profile-container">
                    <div class="col-12 col-md-7 col-lg-5 col-xl-4 profile-image">
                        {% if user_info.foto_profile %}
                        <img class="p-2 m-2" src="../../static/image/Imgprofile/{{user_info.foto_profile}}" width="200" alt="">
                        {% else %}
                        <img class="p-2 m-2" src="../../static/image/profile.jpg" width="200" alt="">
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-5 profile-description">
                        <div class="box profile-box">
                            <h4 class="p-2">{{user_info.nama_lengkap}}</h4>
                            {% if user_info.deskripsi == '' %}
                            <p class="p-2" style="font-size: 12px;">Kamu belum punya Deskripsi, Ayo isi deskripsi tentang diri kamu
                                disini <i class="ri-arrow-down-fill"></i></p>
                            {% else %}
                            <p class="p-2">{{user_info.deskripsi}}</p>
                            {% endif %}
                        </div>
                        <a href="/update_profile" class="btn btn-warning rounded align-self-start m-2"><i class="ri-edit-fill"></i> Ubah
                            Profile -></a>
                    </div>
                </div>
            </div>

            <div style="width: 100%;" class="info_siswa py-2 border-top">

                <h4 class="fw-bold"><span class="text-primary"><i class="ri-id-card-line"></i></span> Informasi Dasar
                </h4>
                <hr class="text-secondary">
                <div class="baris d-flex justify-content-start align-items-center">
                    <h6 class="fw-bold">Nama Lengkap : </h6>
                    <h6 class="fw-normal ms-2">{{ user_info.nama_lengkap }}</h6>
                </div>
                <div class="baris d-flex justify-content-start align-items-center">
                    <h6 class="fw-bold">Email : </h6>
                    {% if '@gmail.com' in user_info.email %}
                    <h6 class="fw-normal ms-2">{{ user_info.email }}</h6>
                    {% else %}
                    <h6 class="fw-normal ms-2">{{ user_info.email }}@gmail.com</h6>
                    {% endif %}

                </div>
                <div class="baris d-flex justify-content-start align-items-center">
                    <h6 class="fw-bold">No. Telp : </h6>
                    <h6 class="fw-normal ms-2">{{ user_info.no_telepon }}</h6>
                </div>
                <div class="baris d-flex justify-content-start align-items-center">
                    <h6 class="fw-bold">No. KTP : </h6>
                    <h6 class="fw-normal ms-2">{{ user_info.no_ktp }}</h6>
                </div>
                <div class="baris d-flex justify-content-start align-items-center">
                    <h6 class="fw-bold">Jenis Kelamin : </h6>
                    <h6 class="fw-normal ms-2">{{ user_info.jenis_kelamin }}</h6>
                </div>
                <div class="baris d-flex justify-content-start align-items-center">
                    <h6 class="fw-bold">Tempat, Tanggal lahir : </h6>
                    <h6 class="fw-normal ms-2">{{ user_info.tempat_tanggal_lahir }}</h6>
                </div>
                <div class="baris d-flex justify-content-start align-items-center">
                    <h6 class="fw-bold">Alamat : </h6>
                    <h6 class="fw-normal ms-2">{{ user_info.alamat }}</h6>
                </div>

            </div>
        </div>
    </div>



</section>

{% include 'headfoot/footer_admin.html' %}