{% include 'headfoot/header_admin.html' %}

<section id="main" class="container-fluid p-2">


    <h3>Siswa</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item text-dark garis-none"><a href="/dashboard">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Siswa</li>
        </ol>
    </nav>
    <hr>

    <div class="row p-2 justify-content-evenly">
        <div class="col-12 col-md-5 col-lg-5 col-xl-3 pointer gelembung m-3">
            <div class="card" style="width:100%;">
                <img src="../../static/image/banner.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <hr class="text-secondary">
                    <h5 class="card-title">Nama Siswa</h5>
                    <hr class="text-secondary">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 col-lg-5 col-xl-3 pointer gelembung m-3">
            <div class="card" style="width:100%;">
                <img src="../../static/image/banner.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <hr class="text-secondary">
                    <h5 class="card-title">Nama Siswa</h5>
                    <hr class="text-secondary">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 col-lg-5 col-xl-3 pointer gelembung m-3">
            <div class="card" style="width:100%;">
                <img src="../../static/image/banner.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <hr class="text-secondary">
                    <h5 class="card-title">Nama Siswa</h5>
                    <hr class="text-secondary">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 col-lg-5 col-xl-3 pointer gelembung m-3">
            <div class="card" style="width:100%;">
                <img src="../../static/image/banner.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <hr class="text-secondary">
                    <h5 class="card-title">Nama Siswa</h5>
                    <hr class="text-secondary">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 col-lg-5 col-xl-3 pointer gelembung m-3">
            <div class="card" style="width:100%;">
                <img src="../../static/image/banner.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <hr class="text-secondary">
                    <h5 class="card-title">Nama Siswa</h5>
                    <hr class="text-secondary">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 col-lg-5 col-xl-3 pointer gelembung m-3">
            <div class="card" style="width:100%;">
                <img src="../../static/image/banner.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <hr class="text-secondary">
                    <h5 class="card-title">Nama Siswa</h5>
                    <hr class="text-secondary">
                </div>
            </div>
        </div>
    </div>

</section>

{% include 'headfoot/footer_admin.html' %}