{% include 'headfoot/header_admin.html' %}

{% if msg %}
{% if msg == 'hapus_siswa' %}
<script>
    $(document).ready(function () {
        swal.fire({
            title: "Siswa Berhasil Di Hapus!",
            text: "",
            icon: "success",
        });

        setTimeout(function () {
            window.location.href = "/siswa";
        }, 2000);
    });

</script>
{% endif %}

{% endif %}

<section id="main" class="container-fluid p-2">


    <h3>Siswa</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item text-dark garis-none"><a href="/dashboard">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Siswa</li>
        </ol>
    </nav>
    <hr>

    <div class="row p-2 justify-content-start">
        {% for item in Siswa : %}
        {% if item.nama_lengkap == 'Admin' %}
        <div class="d-none">
        {% else %}
        <div onclick="window.location.href='/detail_siswa/{{ item._id }}'" class="col-12 col-md-5 col-lg-5 col-xl-3 pointer gelembung mb-3">
        {% endif %}
            <div class="card" style="width:100%;">
                {% if item.foto_profile %}
                <img src="../../static/image/Imgprofile/{{ item.foto_profile}}" class="card-img-top gambar-fit" alt="...">
                {% else %}
                <img src="../../static/image/profile.jpg" class="card-img-top gambar-fit" alt="...">
                {% endif %}
                
                <div class="card-body text-center border-top">
                    <h5 class="card-title">{{ item.nama_lengkap }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</section>

{% include 'headfoot/footer_admin.html' %}