<div class="container row p-3 border-1" style="background-color: whitesmoke; border-radius: 10px;">
    <div class="col-5">
        <img src="../../static/image/Imgkelas/{{kelas.gambar_kelas}}" alt="kelas" width="100%" height="100%">
    </div>
    <div class="col-5">
        <h3>{{kelas.nama_kelas}}</h3>
        <p>{{kelas.deskripsi_kelas}}</p>
    </div>
    <div class="col-2 align-self-end">
        <button class="btn btn-warning gelembung">Mulai</button>
    </div>
</div>

<br>

<div class="container row p-3 border-1" style="background-color: whitesmoke; border-radius: 10px;">
    <h5>Modul</h5>
    <div class="row materi">
        <div class="row">
            <div class="col d-flex justify-content-between">
                <p>PENGENALAN PEMBELAJARAN</p> 
                <button class="btn">Mulai</button>
            </div>
            <hr style="color: black;">
        </div>
        <div class="row">
            <div class="col d-flex justify-content-between">
                <p>PENGENALAN PEMBELAJARAN</p> 
                <button class="btn">Mulai</button>
            </div>
            <hr style="color: black;">
        </div>
        <div class="row">
            <div class="col d-flex justify-content-between">
                <p>PENGENALAN PEMBELAJARAN</p> 
                <button class="btn">Mulai</button>
            </div>
            <hr style="color: black;">
        </div>
    </div>
</div>