{% include 'headfoot/header_admin.html' %}

<section id="main" class="container-fluid p-2">

    <div class="container-fluid d-flex justify-content-start align-items-center">
        <div class="box">
            <h3>Detail Kelas</h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item text-dark garis-none"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item text-dark garis-none"><a href="/semuakelas">Semua Kelas</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Detail Kelas - {{ kelas.nama_kelas }}</li>
                </ol>
            </nav>
        </div>
    </div>

    <hr>

    <div class="row p-3 rounded-top bg-light ">
        <div class="col-5">
            <img src="../../static/image/Imgkelas/{{kelas.gambar_kelas}}" alt="kelas" width="100%" height="100%">
        </div>
        <div class="col-5">
            <h3>{{kelas.nama_kelas}}</h3>
            <p>{{kelas.deskripsi_kelas}}</p>

            <div class="row">
                <div class="col-2">
                    <h6>{{kelas.kategori_kelas}}</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row shadow rounded-bottom p-2">
        <div class="container d-flex justify-content-between">
            <div class="harga">
                <h5 class="text-info">Rp. {{kelas.harga_kelas}}</h5>
            </div>
            <div class="ikutkelas">
                <button class="btn btn-info rounded p-2">+ Ikuti Kelas</button>
            </div>
        </div>
    </div>

    <br>

    <div class="container row p-3 border-1" style="background-color: whitesmoke; border-radius: 10px;">
        <h5>Modul</h5>
        <div class="row materi">
            <div class="row">
                <div class="col d-flex justify-content-between">
                    <p>PENGENALAN PEMBELAJARAN</p>
                    <button class="btn">Mulai</button>
                </div>
                <hr style="color: black;">
            </div>
            <div class="row">
                <div class="col d-flex justify-content-between">
                    <p>PENGENALAN PEMBELAJARAN</p>
                    <button class="btn">Mulai</button>
                </div>
                <hr style="color: black;">
            </div>
            <div class="row">
                <div class="col d-flex justify-content-between">
                    <p>PENGENALAN PEMBELAJARAN</p>
                    <button class="btn">Mulai</button>
                </div>
                <hr style="color: black;">
            </div>
        </div>
    </div>

    {% include 'headfoot/footer_admin.html' %}