{% include 'headfoot/header_admin.html' %}

<section id="main" class="container-fluid p-2">

    <div class="container-fluid d-flex justify-content-start align-items-center">
        <div class="box">
            <h3>Detail Kelas - {{kelas.nama_kelas}}</h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item text-dark garis-none"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Detail Kelas - {{kelas.nama_kelas}}</li>
                </ol>
            </nav>
        </div>
    </div>

    <hr>

    <div class="row shadow p-2">
        <div class="col-3">
            <img src="../../static/image/Imgkelas/{{kelas.gambar_kelas}}" width="200" alt="">
        </div>
        <div class="col-9">
            <h3>{{kelas.nama_kelas}}</h3>
            <p>{{kelas.deskripsi_kelas}}</p>
        </div>
    </div>

    

</section>

{% include 'headfoot/footer_admin.html' %}