{% include 'template/header.html' %}

    <!-- Hero Section -->
    <section id="home" class="container-fluid mt-5 align-items-center">
        <div class="row p-lg-5 pt-5 justify-content-center">
            <div class="col-12 col-lg-7 col-xl-5 order-2 order-lg-1 p-lg-5">
                <h3 class="fw-bold">Optimasi Skill dan Kompetensi,
                    Lebih Siap Kerja dan Wirausaha</h3>
                <p>
                    BINA ASIA DIGITALINDO menyediakan platform komprehensif untuk meningkatkan kompetensi lulusan agar siap kerja dan siap berwirausaha melalui program pelatihan berbasis proyek (PBL), magang online bersertifikat, dan sertifikasi industri.
                </p>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-7">
                        <a style="width: 100%;" class="btn btn-warning p-2 pointer gelembung fw-bold mb-2">Daftar GRATIS
                            Sekarang!</a>
                    </div>
                    <div class="col-12 col-lg-5">
                        <a style="width: 100%;" href="#hubungi"
                            class="btn btn-info p-2 pointer gelembung fw-bold mb-2">Menjadi
                            Mitra</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-2 order-1 text-center">
                <img src="../../static/image/5.png" width="250" alt="">
            </div>
    </section>
    <!-- Hero Section -->

    <!-- Section Kartu -->
    <section id="alasan" class="container-fluid justify-content-center align-items-center">
        <div class="row p-1 p-xl-5 justify-content-evenly align-items-center">
            <div style="background-image: url('../../static/image/backgroundreason.jpg'); background-size:cover;"
                class="col-12 col-lg-5 border shadow justify-content-center mb-3">
                <div class="row justify-content-between">
                    <div class="col-3">
                        <img src="../../static/image/5.png" width="100" alt="">
                    </div>
                    <div class="col-8">
                        <p class="mt-4">
                            Ikuti Pelatihan Kartu Prakerja di Prakerja <strong>Prakerja Karier.mu</strong> <br>
                            <a href="https://www.karier.mu/jobs/?utm_source=kariermu&utm_medium=homepage-middle-banner" class="icon-link gap-1 icon-link-hover stretched-link">
                                Ikuti Sekarang
                              </a>
                        </p>
                    </div>
                </div>
            </div>
            <div style="background-image: url('../../static/image/backgroundreason.jpg'); background-size:cover;"
                class="col-12 col-lg-5 border shadow justify-content-center mb-3">
                <div class="row justify-content-between">
                    <div class="col-3">
                        <img src="../../static/image/5.png" width="100" alt="">
                    </div>
                    <div class="col-8">
                        <p class="mt-4">
                            Telusuri dan kembangkan kesempatan karir anda dengan <strong>Karier.mu Jobs</strong> <br>
                            <a href="https://www.karier.mu/program?search=kariermuprakerja&utm_source=kariermu&utm_medium=homepage-ikuti-prakerja&ref=middle-banner-kariermu" class="icon-link gap-1 icon-link-hover stretched-link">
                                Telusuri Sekarang
                              </a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- Section Kartu -->

    <!-- Section Kelas -->
    <section id="programonline" class="container shadow mt-5 p-2 mb-2 rounded"
        style="background-image: url('../../static/image/backgroundprogram.jpg'); background-size:cover;">
        <div class="row">
            <h4 class="fw-bold fs-6 fs-lg-2 ps-lg-5 text-light">
                <img src="../../static/image/bukumagic.png" width="50" alt="">
                Program Pelatihan Online
                <a style="text-decoration: none;" class="text-info lead fw-bold fs-6 m-3" href="">Lihat Semua</a>
            </h4>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5 col-lg-5 col-xl-3 pointer gelembung m-3">
                <div class="card" style="width:100%;">
                    <img src="../../static/image/banner.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Judul Pelatihan</h5>
                        <h6 class="card-title">sub judul</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit adipisci
                            voluptate laborum!</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <h6 class="fw-normal text-primary">Rp.99999</h6>
                            <a href="#" class="btn btn-primary">Ikuti Kelas</a>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-5 col-lg-5 col-xl-3 pointer gelembung m-3">
                <div class="card" style="width:100%;">
                    <img src="../../static/image/banner.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Judul Pelatihan</h5>
                        <h6 class="card-title">sub judul</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit adipisci
                            voluptate laborum!</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <h6 class="fw-normal text-primary">Rp.99999</h6>
                            <a href="#" class="btn btn-primary">Ikuti Kelas</a>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-5 col-lg-5 col-xl-3 pointer gelembung m-3">
                <div class="card" style="width:100%;">
                    <img src="../../static/image/banner.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Judul Pelatihan</h5>
                        <h6 class="card-title">sub judul</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit adipisci
                            voluptate laborum!</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <h6 class="fw-normal text-primary">Rp.99999</h6>
                            <a href="#" class="btn btn-primary">Ikuti Kelas</a>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-5 col-lg-5 col-xl-3 pointer gelembung m-3">
                <div class="card" style="width:100%;">
                    <img src="../../static/image/banner.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Judul Pelatihan</h5>
                        <h6 class="card-title">sub judul</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit adipisci
                            voluptate laborum!</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <h6 class="fw-normal text-primary">Rp.99999</h6>
                            <a href="#" class="btn btn-primary">Ikuti Kelas</a>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-5 col-lg-5 col-xl-3 pointer gelembung m-3">
                <div class="card" style="width:100%;">
                    <img src="../../static/image/banner.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Judul Pelatihan</h5>
                        <h6 class="card-title">sub judul</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit adipisci
                            voluptate laborum!</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <h6 class="fw-normal text-primary">Rp.99999</h6>
                            <a href="#" class="btn btn-primary">Ikuti Kelas</a>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Section Kelas -->
    
    <!-- Section Mengapa memilih Bina Asia DigitalIndo -->
    <div class="container-fluid py-5" style="background-color: whitesmoke;">
        <div class="container g-4">
            <div class="row d-flex">

                <div class="col-md-5 order-md-last d-flex align-items-center justify-content-center">
                    <img src="../../static/image/logo.png" class="img-fluid" alt="Bina Asia DigitalIndo Logo">
                </div>

                <div class="col-md-7 py-5">
                    <h2 class="mb-4 text-center text-md-start">Mengapa Bina Asia DigitalIndo?</h2>
                    <p class="text-center text-md-start">Kami menyediakan pendidikan dan pelatihan berkualitas tinggi yang mempersiapkan Anda untuk siap kerja dan berwirausaha. Dengan program pelatihan berbasis proyek, magang online bersertifikat, dan sertifikasi industri, kami membantu Anda mengembangkan keterampilan dan kompetensi yang diperlukan untuk sukses.</p>
                    <div class="row mt-5 g-3">
                        <!-- layanan 1 -->
                        <div class="col-lg-6">
                            <div class="card border-0 shadow-sm h-100 gelembung">
                                <div class="card-body d-flex">
                                    <div class="icon flex-shrink-0 bg-primary text-white rounded-circle d-flex justify-content-center align-items-center me-3" style="width: 50px; height: 50px;">
                                        <i class="bi bi-shield-check fs-4"></i>
                                    </div>
                                    <div>
                                        <h5 class="card-title">Terakreditasi BAN PNF</h5>
                                        <p class="card-text">Terakreditasi B oleh BAN PNF, menjamin kualitas pendidikan dan pelatihan.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- layanan 2 -->
                        <div class="col-lg-6">
                            <div class="card border-0 shadow-sm h-100 gelembung">
                                <div class="card-body d-flex">
                                    <div class="icon flex-shrink-0 bg-primary text-white rounded-circle d-flex justify-content-center align-items-center me-3" style="width: 50px; height: 50px;">
                                        <i class="bi bi-award fs-4"></i>
                                    </div>
                                    <div>
                                        <h5 class="card-title">Kompeten dan Berkualitas</h5>
                                        <p class="card-text">Dibina oleh trainer handal yang berkompeten, menghasilkan lulusan berkualitas.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- layanan 3 -->
                        <div class="col-lg-6">
                            <div class="card border-0 shadow-sm h-100 gelembung">
                                <div class="card-body d-flex">
                                    <div class="icon flex-shrink-0 bg-primary text-white rounded-circle d-flex justify-content-center align-items-center me-3" style="width: 50px; height: 50px;">
                                        <i class="bi bi-file-earmark-text fs-4"></i>
                                    </div>
                                    <div>
                                        <h5 class="card-title">Sertifikat Pelatihan</h5>
                                        <p class="card-text">Dapatkan sertifikat resmi setelah menyelesaikan pelatihan.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- layanan 4 -->
                        <div class="col-lg-6">
                            <div class="card border-0 shadow-sm h-100 gelembung">
                                <div class="card-body d-flex">
                                    <div class="icon flex-shrink-0 bg-primary text-white rounded-circle d-flex justify-content-center align-items-center me-3" style="width: 50px; height: 50px;">
                                        <i class="bi bi-briefcase fs-4"></i>
                                    </div>
                                    <div>
                                        <h5 class="card-title">Profesional</h5>
                                        <p class="card-text">Kami membina tenaga kerja yang profesional di bidangnya.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    <!-- Section Akreditasi -->

    <section id="hubungi" class="container-fluid mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center text-center">
                <h4 class="mb-3">Punya Pertanyaan atau Butuh Bantuan?</h4>
                <div class="row col-7 col-md-4 col-lg-3 col-xl-2 justify-content-center text-center">
                    <button
                        class="d-flex justify-content-evenly align-items-center btn btn-success border border-light border-1 ps-3 pe-3">
                        <i class="ri-whatsapp-line text-light fs-3"></i>
                        <span class="fw-bold" style="font-size: 14px;">Hubungi Kami</span>
                    </button>
                </div>
            </div>
        </div>
    </section>

{% include 'template/footer.html' %}
