{% include 'template/header.html' %} {% if msg %} {% if msg == 'success_daftar'
%}
<script>
  $(document).ready(function () {
    Swal.fire({
      toast: true,
      position: "top",
      icon: "success",
      title: "Sukses Daftar, Silakan Masuk!",
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.addEventListener("mouseenter", Swal.stopTimer);
        toast.addEventListener("mouseleave", Swal.resumeTimer);
      },
    });
  });
</script>
{% endif %} {% endif %} {% if token %}
<script>
  $(document).ready(function () {
    let token = "{{token}}";
    $.cookie("BinaAsiaDigitalindo", token, { path: "/" });
    window.location.replace("/dashboard?msg=success");
  });
</script>
{% endif %}

<!-- Carousel -->
<div id="jumbotronCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#jumbotronCarousel"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#jumbotronCarousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#jumbotronCarousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="{{ url_for('static', filename='image/banner1.png') }}"
        class="d-block w-100"
        alt="Slide1"
      />
    </div>

    <div class="carousel-item">
      <img
        src="{{ url_for('static', filename='image/banner2.jpg') }}"
        class="d-block w-100"
        alt="Slide2"
      />
    </div>

    <div class="carousel-item">
      <img
        src="{{ url_for('static', filename='image/banner3.jpg') }}"
        class="d-block w-100"
        alt="Slide3"
      />
    </div>
  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#jumbotronCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#jumbotronCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Carousel -->

<!-- Section Kartu -->
<section
  id="alasan"
  class="container-fluid mt-5 justify-content-center align-items-center"
>
  <div class="row p-1 p-xl-5 justify-content-evenly align-items-center">
    <div
      style="
        background-image: url('../../static/image/backgroundreason.jpg');
        background-size: cover;
      "
      class="col-12 col-lg-5 border shadow justify-content-center mb-3"
    >
      <div class="row justify-content-between">
        <div class="col-3">
          <img src="../../static/image/5.png" width="100" alt="" />
        </div>
        <div class="col-8">
          <p class="mt-4">
            Ikuti Pelatihan Kartu Prakerja di Prakerja
            <strong>Prakerja Karier.mu</strong> <br />
            <a
              href="https://www.karier.mu/jobs/?utm_source=kariermu&utm_medium=homepage-middle-banner"
              class="icon-link gap-1 icon-link-hover stretched-link"
            >
              Ikuti Sekarang
            </a>
          </p>
        </div>
      </div>
    </div>
    <div
      style="
        background-image: url('../../static/image/backgroundreason.jpg');
        background-size: cover;
      "
      class="col-12 col-lg-5 border shadow justify-content-center mb-3"
    >
      <div class="row justify-content-between">
        <div class="col-3">
          <img src="../../static/image/5.png" width="100" alt="" />
        </div>
        <div class="col-8">
          <p class="mt-4">
            Telusuri dan kembangkan kesempatan karir anda dengan
            <strong>Karier.mu Jobs</strong> <br />
            <a
              href="https://www.karier.mu/program?search=kariermuprakerja&utm_source=kariermu&utm_medium=homepage-ikuti-prakerja&ref=middle-banner-kariermu"
              class="icon-link gap-1 icon-link-hover stretched-link"
            >
              Telusuri Sekarang
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section Kartu -->

<!-- Section Kelas -->
<section
  id="programonline"
  class="container shadow mt-5 p-2 mb-5 rounded"
  style="
    background-image: url('../../static/image/backgroundprogram.jpg');
    background-size: cover;
  "
>
  <div class="row">
    <h4 class="fw-bold fs-6 fs-lg-2 ps-lg-5 text-light">
      <img src="../../static/image/bukumagic.png" width="50" alt="" />
      Program Pelatihan Online
      <a
        style="text-decoration: none"
        class="text-info lead fw-bold fs-6 m-3"
        href=""
        >Lihat Semua</a
      >
    </h4>
  </div>
  <div class="row justify-content-center align-items-center">
    {% if semua_kelas%} {% for item in semua_kelas[:8] %}
    <div
      onclick="window.location.href='/detailkelas/{{item._id}}'"
      class="col-12 col-md-5 col-lg-5 col-xl-3 pointer gelembung mt-3"
    >
      <div class="card uniform-card">
        <div class="img-kontainer" style="min-height: 25vh; max-height: 25vh">
          <img
            style="object-fit: cover"
            src="../../static/image/Imgkelas/{{item.gambar_kelas}}"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h6 class="card-title">{{item.nama_kelas}}</h6>
          <h6 style="font-size: 12px" class="card-title">
            {{item.sub_nama_kelas}}
          </h6>
          <p style="font-size: 10px" class="card-text description">
            {{item.deskripsi_kelas}}
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <div class="card-body d-flex justify-content-end align-items-center">
            <h6 class="fw-normal text-primary m-1">Rp. {{item.harga_kelas}}</h6>
          </div>
        </ul>
      </div>
    </div>
    {% endfor %} {% endif %}
  </div>
</section>
<!-- Section Kelas -->

<!-- Section langkah-langkah ambil kelas -->
<section
  id="steps"
  class="container mt-5" style="padding-top: 35px;"
>
  <div class="row justify-content-center text-center">
    <div class="col-12 mb-4">
      <h2 class="fw-bold">Cara Bergabung</h2>
    </div>
  </div>
  <div class="row justify-content-center text-center">
    <div class="col-12 col-md-3 mb-3">
      <div class="card border-0 shadow round h-100">
        <div class="card-body gelembung">
          <div class="icon mb-3 text-primary">
            <i class="bi bi-person-plus fs-2"></i>
          </div>
          <h5 class="fw-bold">1. Daftar Akun</h5>
          <p>
            Buat akun di platform kami dengan akun @gmail atau melalui akun
            google anda.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 mb-3">
      <div class="card border-0 shadow round h-100">
        <div class="card-body gelembung">
          <div class="icon mb-3 text-primary">
            <i class="bi bi-laptop fs-2"></i>
          </div>
          <h5 class="fw-bold">2. Pilih Program</h5>
          <p>
            Pilih program pelatihan atau magang yang sesuai dengan minat dan
            tujuan Anda.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 mb-3">
      <div class="card border-0 shadow round h-100">
        <div class="card-body gelembung">
          <div class="icon mb-3 text-primary">
            <i class="bi bi-people fs-2"></i>
          </div>
          <h5 class="fw-bold">3. Ikuti Pelatihan</h5>
          <p>
            Ikuti pelatihan online sesuai jadwal dan pelajari materi yang telah
            disediakan.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 mb-3">
      <div class="card border-0 shadow round h-100">
        <div class="card-body gelembung">
          <div class="icon mb-3 text-primary">
            <i class="bi bi-award fs-2"></i>
          </div>
          <h5 class="fw-bold">4. Dapatkan Sertifikat</h5>
          <p>
            Dapatkan sertifikat resmi setelah menyelesaikan pelatihan atau
            program magang.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section langkah-langkah ambil kelas -->

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="mt-3">
  <path
    fill="whitesmoke"
    fill-opacity="1"
    d="M0,288L48,261.3C96,235,192,181,288,176C384,171,480,213,576,234.7C672,256,768,256,864,245.3C960,235,1056,213,1152,186.7C1248,160,1344,128,1392,112L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
  ></path>

</svg>

<!-- Section Mengapa memilih Bina Asia DigitalIndo -->
<div class="container-fluid" style="background-color: whitesmoke">
  <div class="container g-5">
    <div class="row d-flex">
      <div
        class="col-md-5 order-md-last d-flex align-items-center justify-content-center"
      >
        <img
          src="../../static/image/logo.png"
          class="img-fluid"
          alt="Bina Asia DigitalIndo Logo"
        />
      </div>

      <div class="col-md-7 py-3">
        <h2 class="mb-4 text-center text-md-start">
          Mengapa Bina Asia DigitalIndo?
        </h2>
        <p class="text-center text-md-start">
          Kami menyediakan pendidikan dan pelatihan berkualitas tinggi yang
          mempersiapkan Anda untuk siap kerja dan berwirausaha. Dengan program
          pelatihan berbasis proyek, magang online bersertifikat, dan
          sertifikasi industri, kami membantu Anda mengembangkan keterampilan
          dan kompetensi yang diperlukan untuk sukses.
        </p>
        <div class="row mt-5 g-3">
          <!-- layanan 1 -->
          <div class="col-lg-6">
            <div class="card border-0 shadow-sm h-100 gelembung">
              <div class="card-body d-flex">
                <div
                  class="icon flex-shrink-0 bg-primary text-white rounded-circle d-flex justify-content-center align-items-center me-3"
                  style="width: 50px; height: 50px"
                >
                  <i class="bi bi-shield-check fs-4"></i>
                </div>
                <div>
                  <h5 class="card-title">Terakreditasi BAN PNF</h5>
                  <p class="card-text">
                    Terakreditasi B oleh BAN PNF, menjamin kualitas pendidikan
                    dan pelatihan.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- layanan 2 -->
          <div class="col-lg-6">
            <div class="card border-0 shadow-sm h-100 gelembung">
              <div class="card-body d-flex">
                <div
                  class="icon flex-shrink-0 bg-primary text-white rounded-circle d-flex justify-content-center align-items-center me-3"
                  style="width: 50px; height: 50px"
                >
                  <i class="bi bi-award fs-4"></i>
                </div>
                <div>
                  <h5 class="card-title">Kompeten dan Berkualitas</h5>
                  <p class="card-text">
                    Dibina oleh trainer handal yang berkompeten, menghasilkan
                    lulusan berkualitas.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- layanan 3 -->
          <div class="col-lg-6">
            <div class="card border-0 shadow-sm h-100 gelembung">
              <div class="card-body d-flex">
                <div
                  class="icon flex-shrink-0 bg-primary text-white rounded-circle d-flex justify-content-center align-items-center me-3"
                  style="width: 50px; height: 50px"
                >
                  <i class="bi bi-file-earmark-text fs-4"></i>
                </div>
                <div>
                  <h5 class="card-title">Sertifikat Pelatihan</h5>
                  <p class="card-text">
                    Dapatkan sertifikat resmi setelah menyelesaikan pelatihan.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- layanan 4 -->
          <div class="col-lg-6">
            <div class="card border-0 shadow-sm h-100 gelembung">
              <div class="card-body d-flex">
                <div
                  class="icon flex-shrink-0 bg-primary text-white rounded-circle d-flex justify-content-center align-items-center me-3"
                  style="width: 50px; height: 50px"
                >
                  <i class="bi bi-briefcase fs-4"></i>
                </div>
                <div>
                  <h5 class="card-title">Profesional</h5>
                  <p class="card-text">
                    Kami membina tenaga kerja yang profesional di bidangnya.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Section Akreditasi -->

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path
    fill="whitesmoke"
    fill-opacity="1"
    d="M0,288L48,261.3C96,235,192,181,288,176C384,171,480,213,576,234.7C672,256,768,256,864,245.3C960,235,1056,213,1152,186.7C1248,160,1344,128,1392,112L1440,96L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"
  ></path>
</svg>

<!-- Hubungi Kami -->
<section id="hubungi" class="container-fluid py-4 mt-5 mb-5">
    <div class="container">
    <div class="row justify-content-center text-center">
      <h4 class="mb-3">Punya Pertanyaan atau Butuh Bantuan?</h4>
      <div
        class="row col-7 col-md-4 col-lg-3 col-xl-2 justify-content-center text-center"
      >
        <button
          class="d-flex justify-content-evenly align-items-center btn btn-success border border-light border-1 ps-3 pe-3"
        >
          <i class="ri-whatsapp-line text-light fs-3"></i>
          <span class="fw-bold" style="font-size: 14px">Hubungi Kami</span>
        </button>
    </div>
</div>
</div>
</section>
<!-- Hubungi Kami -->

<a
  href="#jumbotronCarousel"
  class="rounded-circle gelembung fs-4 btn btn-primary"
  id="topbut"
  ><i class="ri-arrow-up-circle-line"></i
></a>

{% include 'template/footer.html' %}
