{% include 'template/header.html' %}

<!-- Hero Section -->
<section id="home" class="container-fluid mt-5 align-items-center">
  <div class="row p-lg-5 pt-5 justify-content-center">
    <div class="col-12 col-lg-7 col-xl-5 order-2 order-lg-1 p-lg-5">
      <h3 class="fw-bold">
        Optimasi Skill dan Kompetensi, Lebih Siap Kerja dan Wirausaha
      </h3>
      <p>
        BINA ASIA DIGITALINDO menyediakan platform komprehensif untuk
        meningkatkan kompetensi lulusan agar siap kerja dan siap berwirausaha
        melalui program pelatihan berbasis proyek (PBL), magang online
        bersertifikat, dan sertifikasi industri.
      </p>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-7">
          <a
            style="width: 100%"
            class="btn btn-warning p-2 pointer gelembung fw-bold mb-2"
            >Daftar GRATIS Sekarang!</a
          >
        </div>
        <div class="col-12 col-lg-5">
          <a
            style="width: 100%"
            href="#hubungi"
            class="btn btn-info p-2 pointer gelembung fw-bold mb-2"
            >Menjadi Mitra</a
          >
        </div>
      </div>
    </div>
    <div class="col-lg-2 order-1 text-center">
      <img src="../../static/image/bootcamp_hero.png" width="350" alt="" />
    </div>
  </div>
</section>
<!-- Hero Section -->

<!-- Kelas Terunggul -->
<div class="section kelas-unggulan py-5" style="background-color: #f9f9f9">
  <div class="text-center py-3 px-4">
    <h3 class="fw-bold mt-3">Program Terunggul Kami</h3>
  </div>

  <!-- kelas web fullstack -->
  <div class="container col-xl-10 col-xxl-8 px-4 py-3">
    <div class="row align-items-center g-lg-5">
      <div class="col-lg-7 order-lg-2">
        <div class="card border-0 shadow-sm h-100">
          <img
            src="{{ url_for('static', filename='image/banner3.jpg') }}"
            class="card-img-top img-fluid rounded"
            alt="Pemrograman Web Fullstack"
          />
          <div class="card-body">
            <h5
              class="slide-title fw-bold text-body-emphasis lh-1 mb-3 text-primary"
            >
              <i class="bi bi-code-slash me-2"></i>Pemrograman Web Fullstack
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-10 mx-auto col-lg-5 order-lg-1">
        <div class="card border-0 shadow-sm h-100">
          <div class="card-body">
            <h5
              class="slide-title fw-bold text-body-emphasis lh-1 mb-3 text-primary"
            >
              <i class="bi bi-code-slash me-2"></i>Pemrograman Web Fullstack
            </h5>
            <p class="text-secondary">
              Pelatihan unggulan yang terbukti meningkatkan karir, mengajarkan
              keterampilan pemrograman web dari front-end hingga back-end.
              Dipimpin oleh instruktur berpengalaman, peserta mendapatkan
              pengetahuan mendalam, praktik langsung, proyek nyata, bimbingan
              karir, dan jaringan profesional. Jangan lewatkan kesempatan
              menjadi profesional siap kerja dan kompeten di dunia pemrograman
              web!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- pelatihan siap kerja -->
  <div class="container col-xl-10 col-xxl-8 px-4 py-2">
    <div class="row align-items-center g-lg-5">
      <div class="col-lg-7">
        <div class="card border-0 shadow-sm h-100">
          <img
            src="{{ url_for('static', filename='image/banner1.png') }}"
            class="card-img-top img-fluid rounded"
            alt="Pelatihan Siap Kerja"
          />
          <div class="card-body">
            <h5
              class="slide-title fw-bold text-body-emphasis lh-1 mb-3 text-primary"
            >
              <i class="bi bi-briefcase me-2"></i>Pelatihan Siap Kerja
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <div class="card border-0 shadow-sm h-100">
          <div class="card-body">
            <h5
              class="slide-title fw-bold text-body-emphasis lh-1 mb-3 text-primary"
            >
              <i class="bi bi-briefcase me-2"></i>Pelatihan Siap Kerja
            </h5>
            <p class="text-secondary">
              Pelatihan unggulan yang terbukti meningkatkan karir, mengajarkan
              keterampilan pemrograman web dari front-end hingga back-end.
              Dipimpin oleh instruktur berpengalaman, peserta mendapatkan
              pengetahuan mendalam, praktik langsung, proyek nyata, bimbingan
              karir, dan jaringan profesional. Jangan lewatkan kesempatan
              menjadi profesional siap kerja dan kompeten di dunia pemrograman
              web!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Kelas Terunggul -->



<!-- Section Kelas -->
<section
  id="programonline"
  class="container shadow mt-5 p-2 mb-2 rounded"
  style="
    background-image: url('../static/image/backgroundprogram.jpg');
    background-size: cover;
  "
>
  <div class="row">
    <h4 class="fw-bold fs-6 fs-lg-2 ps-lg-5 text-light">
      <img src="../../static/image/bukumagic.png" width="50" alt="" />
      Rekomendasi Kelas dari kami
    </h4>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-md-5 col-lg-5 col-xl-3 pointer gelembung m-3">
      <div class="card" style="width: 100%">
        <img
          src="../../static/image/banner.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Judul Pelatihan</h5>
          <h6 class="card-title">sub judul</h6>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
            adipisci voluptate laborum!
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <div
            class="card-body d-flex justify-content-between align-items-center"
          >
            <h6 class="fw-normal text-primary">Rp.99999</h6>
            <a href="#" class="btn btn-primary">Ikuti Kelas</a>
          </div>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-5 col-lg-5 col-xl-3 pointer gelembung m-3">
      <div class="card" style="width: 100%">
        <img
          src="../../static/image/banner.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Judul Pelatihan</h5>
          <h6 class="card-title">sub judul</h6>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
            adipisci voluptate laborum!
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <div
            class="card-body d-flex justify-content-between align-items-center"
          >
            <h6 class="fw-normal text-primary">Rp.99999</h6>
            <a href="#" class="btn btn-primary">Ikuti Kelas</a>
          </div>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-5 col-lg-5 col-xl-3 pointer gelembung m-3">
      <div class="card" style="width: 100%">
        <img
          src="../../static/image/banner.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Judul Pelatihan</h5>
          <h6 class="card-title">sub judul</h6>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
            adipisci voluptate laborum!
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <div
            class="card-body d-flex justify-content-between align-items-center"
          >
            <h6 class="fw-normal text-primary">Rp.99999</h6>
            <a href="#" class="btn btn-primary">Ikuti Kelas</a>
          </div>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Section Kelas -->

{% include 'template/footer.html' %}
